/*& Form style */

@import url("../auth/formBox.css");

/* Media Queries */

@media (max-width: 500px) {
	.formBox {
		padding: 0 1.5em;
	}

	.formBox__title {
		font-size: 1.3em;
	}

	.formBox-form__input,
	.form__textarea,
	.formBox-form__btn {
		width: 100%;
	}
}

@media (max-width: 900px) {
	.formBox {
		padding: 0 2em;
	}

	.formBox__title {
		font-size: 1.4em;
	}

	.formBox-form__input,
	.form__textarea,
	.formBox-form__btn {
		width: 100%;
		max-width: 35em;
		margin: 0 auto 1em auto;
	}
}

/* Media Queries */