@import url("../auth/formBox.css");

/** Media Queries */
@media (max-width: 900px) {
	.formBox {
		max-width: 30em;
	}

	.formBox__title {
		font-size: 1.6em;
	}
}

@media (max-width: 500px) {
	.formBox {
		padding: 0 1.5rem;
		max-width: 100%;
	}

	.formBox__title {
		font-size: 1.3em;
	}
}
/** Media Queries */